<h1>List of movies</h1>

<ul>
  <% @movies.all.each do |movie| %>
    <li><%= movie %></li>
  <% end %>
</ul>

<form action="/get-random-movie" method="get">
  <button type="submit">
    Random Movie
  </button>
</form>

<span id="random_movie">
  <%= @movies.film_choice %>
</span>
